<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>Product Stats</h1>
      <p class="lead">Product Stats</p>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6">

    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-4">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">Product Count :</div>
      <div class="card-body">
        <h4 class="card-title">{{numberProduct}}</h4>
        <p class="card-text">Product In Stock</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
      <div class="card-header">Product Count  :</div>
      <div class="card-body">
        <h4 class="card-title">{{numberProductS}}</h4>
        <p class="card-text">Product In Stock Where Price > 100$</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
      <div class="card-header">Total Amount :</div>
      <div class="card-body">
        <h4 class="card-title">{{totalPriceQte | currency:'USD'}}</h4>
        <p class="card-text">Total Amount In Stock</p>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-4">
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
      <div class="card-header">Product Count :</div>
      <div class="card-body">
        <h4 class="card-title">{{numberProduct}}</h4>
        <p class="card-text">Product In Stock</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
      <div class="card-header">Product Count :</div>
      <div class="card-body">
        <h4 class="card-title">{{numberProduct}}</h4>
        <p class="card-text">Product In Stock</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
      <div class="card-header">Product Count :</div>
      <div class="card-body">
        <h4 class="card-title">{{numberProduct}}</h4>
        <p class="card-text">Product In Stock</p>
      </div>
    </div>
  </div>
</div>
